body {
  font-family: Arial, sans-serif;
}

ul {
  display: flex;
  align-items: right;
  width: 300px;

  /* background-color: lightseagreen; */
  justify-content: flex-end;
  padding: 0px 12px;
}

/* header {
  background-color: lightblue;
} */
/* .header-item {
    padding: 2rem;
} */

li {
  display: flex;
  align-items: center;
  padding: 5px;
  color: #303030;
  font-size: 13px;
}

nav {
  height: 65px;
  display: flex;
  /* background-color: gray; */
  align-items: center;
  justify-content: flex-end;
}

.photo-container {
  display: flex;
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 50px;
  justify-content: center;
}

.profile-pic {
  height: 100%;
}

.box-grid {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px 14px 0px 19px;;
}

.circle {
  width: 4px;
  height: 4px;
  border-radius: 50px;
  background-color: #5f5f5f;
}

.nav-h2 {
  padding: 0 3px;
}